[submodule "vendor/plugins/fetcher"]
	path = vendor/plugins/fetcher
	url = git://github.com/huerlisi/fetcher.git
[submodule "vendor/plugins/sentient_user"]
	path = vendor/plugins/sentient_user
	url = git://github.com/huerlisi/sentient_user.git
